@import url(https://fonts.googleapis.com/css?family=Montserrat|Poly);

body {
    font-family: Poly;
    font-size: 112.5%; /* 18px if the browser default is 16px */
    line-height: 140%;
    margin: 0;
}

header {
    display: block;
    height: 5em;
    margin: 0 4em;
}

h1 {
    display: inline;
    margin: 0;
    font-family: Montserrat;
    font-size: 2.4em;
    line-height: 2.1em;
    color: #222;
}

h2 {
    font-family: Montserrat;
    color: #222;
}

.subtitle {
    font-family: Poly;
    font-style: italic;
    font-size: 1.2em;
}

section {
    display: block;
}

canvas {
    width: 100%;
    border: 1px solid #333;
    border-width: 1px 0px; /* Turn off left and right borders */
}

#colormaps {
    margin: 1em 0;
    padding: 1em;
    text-align: center;
}

#colormaps>canvas {
    width: 20%;
    height: 4em;
    border: 1px solid white;
    border-radius: 0.3em;
    margin: 1em 1.5%;
    cursor: pointer;
    outline: none;
    -webkit-transition: height 40ms linear, margin 40ms linear;
    -moz-transition: height 40ms linear, margin 40ms linear;
    -o-transition: height 40ms linear, margin 40ms linear;
    transition: height 40ms linear, margin 40ms linear;
}

#colormaps>canvas:hover, #colormaps>canvas:focus {
    height: 4.5em;
    margin: 0.75em 1.5%;
}

#colormaps>.selected {
    height: 4.5em;
    margin: 0.75em 1.5%;
    border: 1px solid #333;
}

#preview-container {
    height: 10em;
}

#fixednum-preview-container {
    height: 4em;
    margin-top: 2em;
}

#controls-wrapper {
    position: relative;
    top: -4em;
    margin-bottom: -4em;
    line-height: 2.5em;
    padding: 0.75em;
    text-align: center;
}

.controls {
    display: inline-block;
    padding: 0 0.8em;
    margin-right: 2em;
    font-family: Montserrat;
    color: #222;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.controls>button, .controls>a[download] {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    padding: 0.15em 0.4em;
    font-family: Montserrat;
    font-size: 0.85em;
    color: #222;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(100%, rgba(221,221,221,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(221,221,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd', GradientType=0 );
}

.controls>button:hover, .controls>a[download]:hover {
    border: 1px solid #666;
}

.controls>button:active, .controls>a[download]:active {
    background: rgba(221,221,221,1);
    background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,221,221,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(221,221,221,1) 0%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f5f5f5', GradientType=0 );
}

.controls>a[download] {
    cursor: default;
    text-decoration: none;
}

.controls>input, .controls>select {
    padding: 0.1em;
    font-family: Montserrat;
    font-size: 0.85em;
    color: #222;
    text-align: right;
    background: white;
    border: 0px solid black;
    border-radius: 3px;
}

#numcolors {
    width: 3.5em;
    font-size: 0.95em;
}

a>img {
    height: 0.85em;
    vertical-align: middle;
}

#acknowledgments {
    margin-top: 0em;
    font-size: 0.7em;
    line-height: 140%;
    color: #666;
    text-align: center;
}

#acknowledgments a {
    color: #444;
}

.ack-column {
    float: left;
    width: 28%;
    margin-left: 4%;
}

.address {
    display: inline-block;
    white-space: pre-line;
    text-align: left;
    width: 22em;
}

@media all and (max-width: 64em) {
    body {
        font-size: 100%;
    }
    
    #subtitle-part-2 {
        display: none;
    }
    
    #fixednum-preview-container {
        margin-top: 1.5em;
    }
    
    #colormaps {
        height: 20em;
    }
    
    #colormaps>canvas {
        position: absolute;
        width: 40%;
    }
    
    #Glow, #Sunrise {
        top: 21.5em;
    }
    
    #Fern, #Lake {
        top: 27em;
    }
    
    #Sky, #Twilight {
        top: 32.5em;
    }
    
    #Dawn, #Water {
        top: 38em;
    }
    
    #Glow, #Fern, #Sky, #Dawn {
        left: 6%;
    }
    
    #Sunrise, #Lake, #Twilight, #Water {
        left: 52.5%;
    }
}

@media all and (max-width: 42em) {
    body {
        font-size: 90%;
    }
    
    header {
        margin: 0;
        text-align: center;
    }
    
    .subtitle {
        display: none;
    }
    
    #fixednum-preview-container {
        height: 6em;
    }
    
    #controls-wrapper {
        position: relative;
        top: -6em;
        margin-bottom: -6em;
        line-height: 2.45em;
        padding: 0.5em;
        text-align: center;
    }

    .controls {
        display: block;
        width: 18em;
        margin: 0 auto;
    }
    
    #num-controls {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    #dl-controls {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    #Glow, #Sunrise {
        top: 23.5em;
    }
    
    #Fern, #Lake {
        top: 29em;
    }
    
    #Sky, #Twilight {
        top: 34.5em;
    }
    
    #Dawn, #Water {
        top: 40em;
    }
    
    #Glow, #Fern, #Sky, #Dawn {
        left: 6%;
    }
    
    #Sunrise, #Lake, #Twilight, #Water {
        left: 52.5%;
    }
    
    .ack-column {
        float: none;
        width: 50%;
        margin: 0 auto;
    }
}