body {
    font-size:14pt;
    line-height:22pt;
    font-family:"Palatino","Palatino LT STD","Palatino Linotype","Book Antiqua","Georgia",serif;
    color:#000;
    background-color:#fff
}

p {
    text-align:justify
}

a {
    color:#000;
    text-decoration:none;
    box-shadow:inset 0 -3px 0 #e7cccc
}

a:hover {
    background:#e7cccc
}

a.logo {
    border-bottom:0;
    box-shadow:none
}

#everything {
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:5em;
    width:auto
}

#logo {
    font-style:italic;
    text-align:center;
    font-size:140%;
    margin:0;
    margin-top:2em
}

#clicker {
    text-align:center;
    letter-spacing:1ex;
    margin-right:-1ex;
    font-family:"Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
    font-size:400%;
    font-weight:700;
    margin-top:1em;
    margin-bottom:1em
}

#clicker a {
    color:#8b0000
}

#clicker a:hover {
    color:#8b0000
}

#title {
    text-align:center;
    white-space:nowrap;
    font-size:300%;
    margin:0
}

#subtitle {
    text-align:center;
    font-size:161.8%;
    margin:0;
    margin-top:2em
}

#options {
    display:block;
    text-align:center;
    white-space:nowrap;
    font-size:144%;
    padding:0;
    margin:0;
    margin-top:2em
}

#options li {
    display:inline;
    list-style-type:none;
    white-space:nowrap;
    text-transform:lowercase;
    white-space:nowrap;
    padding:0;
    margin:0;
    margin-right:1em
}

#options li:last-child {
    margin-right:0
}

div.text {
    margin:auto;
    width:auto;
    max-width:35em
}

#content {
    margin-top:3em
}

.name {
    white-space:nowrap
}

div.seminar {
    margin-top:1em;
    margin-bottom:1em
}

div.seminartitle {
    margin:1em 0;
    font-weight:700;
    font-size:140%;
    text-align:center
}

div.seminarspeaker {
    margin-top:1em;
    text-align:center
}

div.seminaraffiliation {
    font-style:italic;
    text-align:center
}

div.seminarabstract {
    margin:auto;
    margin-top:1em;
    max-width:35em
}